.outer {
height: 600px;
width: 49%;
display: inline-block;
}

li{
    display: inline-block;
    width: 24%;
}
.outer2{
    width: 420px;
}
a{
    width: 24%;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.god{
    width: 900px;
    padding-left: 150px;
    padding-right: 150px;
}
.butt{
    display: block;
    font-family: 'Playfair Display', serif;
    border: 1px solid;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 18px;
    margin: 0 auto;
}